@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

.first-section {
  background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNyZWF0aXZlJTIwZGVzaWdufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=160")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(1px);
  height: 50vh;
}
.bg-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.my-name {
  font-weight: bold;
  font-family: ;
}

.about-me {
  padding: 5%;
  color: black;
}
.intro {
  font-family: "Shizuru", cursive;
  text-transform: uppercase;
}
.photo {
  padding: 5%;
}
